<!doctype html>
<html lang="es" ng-app="mediakit">
<head>
    <title>Media kit 2016 - Multimedios</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700'>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="css/mediakit.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc5/angular-material.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>


    <script type="text/javascript" src="js/loader.js"></script>

   
<!--     <script src="https://rawgit.com/jtblin/angular-chart.js/master/dist/angular-chart.js"></script> -->



    <script src="lib/720kb.socialshare.js"></script>
    <script src="js/mediakit.app.js"></script>
    <script src="js/mediakit.controllers.js"></script>
    <script src="js/mediakit.directives.js"></script>
    <script src="js/mediakit.services.js"></script>
    <script>
    </script>
</head>
<body ng-controller="mediakitCtrl">
    <md-toolbar class="mk-toolbar md-hue-3 md-whiteframe-z4">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="sidenavToggle();" aria-label="Menu">
                <md-icon>menu</md-icon>
            </md-button>
            <h2>
                <img class="mk-toolbar-logo" src="img/toolbar_logo.png" alt="Multimedios">
            </h2>
            <span flex></span>
            <md-menu>
                <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button" aria-label="Share">
                    <md-icon>share</md-icon>
                </md-button>
                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="alert();"  socialshare
                        socialshare-provider="facebook"
                        socialshare-text="Mediakit &middot; Grupo Miltimedios"
                        socialshare-url="http://agencia.multimedios.com/">
                        Facebook
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button ng-click="alert();"  socialshare
                    socialshare-provider="twitter"
                    socialshare-text="Mediakit &middot; Grupo Miltimedios"
                    socialshare-url="http://agencia.multimedios.com/">
                    Twitter
                </md-button>
            </md-menu-item>
            <md-menu-item>
                <md-button ng-click="alert();"  socialshare
                socialshare-provider="google+"
                socialshare-text="Mediakit &middot; Grupo Miltimedios"
                socialshare-url="http://agencia.multimedios.com/">
                Google+
            </md-button>
        </md-menu-item>
        <md-menu-item>
            <md-button ng-click="open('whatsapp://send?text=Mediakit%20-%20Grupo%20Multimedios%20http://agencia.multimedios.com/')">
                Whatsapp
            </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>
</div>
</md-toolbar>
<md-content>
    <ng-view></ng-view>
</md-content>

<!-- Sidenav -->
<div class="mk-sidenav-helper" ng-show="sidenavIsOpen" ng-click="sidenavToggle()"></div>
<div class="mk-sidenav md-whiteframe-z5" ng-class="{open:sidenavIsOpen}" md-swipe-left="sidenavToggle()">
    <md-content>
        <md-list>
            <md-list-item class="mk-sidenav-logo">
                <img src="img/toolbar_logo.png" alt="Multimedios">
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="go('/'); sidenavToggle();">
                <md-icon>home</md-icon>
                <p>Inicio</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="go('/metricas'); sidenavToggle();">
                <md-icon>poll</md-icon>
                <p>Métricas</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item>
                <md-icon>devices</md-icon>
                <p>Plataformas</p>
            </md-list-item>
            <md-list-item ng-click="go('/web'); sidenavToggle();">
                <md-icon>laptop</md-icon>
                <p>Web</p>
            </md-list-item>
            <md-list-item ng-click="go('/apps'); sidenavToggle();">
                <md-icon>smartphone</md-icon>
                <p>Apps</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ng-click="go('/social'); sidenavToggle();">
                <md-icon>share</md-icon>
                <p>Social media</p>
            </md-list-item>
            <md-divider></md-divider>
            <!--md-list-item ng-click="sidenavToggle();">
            <md-icon>thumb_up</md-icon>
            <p>Clientes</p>
        </md-list-item>
        <md-divider></md-divider-->
    </md-list>
</md-content>
<div class="mk-legal">Derechos Reservados Grupo Multimedios 2016</div>
</div>
</body>
</html>
