<div class="mk-header md-padding md-whiteframe-z3" style="background-image: url(img/Slide_SocialMedia.jpg);">
	<div class="col-md-1"></div>
	<div class="col-md-4 hidden-sm hidden-xs mk-header-image" layout="column" layout-align="center center" style="background-image: url(img/Img_socialmedia.png);"></div>
	<div class="col-md-6" layout="column" layout-align="center start" layout-fill>
		<div class="md-display-2" hide-gt-sm><b>SOCIAL MEDIA</b></div>
		<div class="md-display-3" hide-sm><b>SOCIAL MEDIA</b></div>
		<p class="md-headline">Somos un grupo de empresas de comunicación con un gran compromiso: <b>ser los primeros</b></p>
	</div>
	<div class="col-md-1"></div>
</div>

<div class="mk-metrics-headline md-display-1" style="margin-top: 4rem;" layout-align="center">Top corporativas</div>

<div class="container">
	<div class="row" style="padding: 3rem 0;">
		<div class="col-sm-6 col-md-3" ng-repeat="account in data.corp">
			<md-card>
				<md-card-header>
				<md-card-avatar>
					<img class="md-user-avatar" ng-src="{{account.img}}"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{account.name}}</span>
					<span class="md-subhead">{{account.account}}</span>
				</md-card-header-text>
				</md-card-header>
				<img ng-src="{{account.cover}}" class="md-card-image" alt="">
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">{{account.followers | number : 0}}</span>
						<span class="md-subhead" ng-if="account.network == 'f'">me gusta</span>
						<span class="md-subhead" ng-if="account.network == 't'">followers</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>
<div layout="column" layout-align="center center">
	<md-button class="md-raised md-accent" style="margin-bottom: 4rem;" ng-click="openWindow('./file/RedesSociales_Multimedios.pdf')">
		<md-icon>file_download</md-icon>
		Lista completa
	</md-button>
</div>

<div class="mk-metrics-headline md-display-1" layout-align="center">Top influencers</div>
<div class="container">
	<div class="row" style="padding: 3rem 0;">
		<div class="col-sm-6 col-md-4" ng-repeat="account in data.top">
			<md-card>
				<md-card-header>
				<md-card-avatar>
					<img class="md-user-avatar" ng-src="{{account.img}}"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{account.name}}</span>
					<span class="md-subhead">{{account.account}}</span>
				</md-card-header-text>
				</md-card-header>
				<img ng-src="{{account.cover}}" class="md-card-image" alt="">
				<md-card-title>
					<md-card-title-text ng-show="account.likes">
						<span class="md-headline">{{account.likes}}</span>
						<span class="md-subhead">Me gusta</span>
					</md-card-title-text>
					<md-card-title-text ng-show="account.followers">
						<span class="md-headline">{{account.followers}}</span>
						<span class="md-subhead">Seguidores</span>
					</md-card-title-text>
				</md-card-title>
			</md-card>
		</div>
	</div>
</div>
<div layout="column" layout-align="center center">
	<md-button class="md-raised md-accent" style="margin-bottom: 3rem;" ng-click="openWindow('./file/RedesSociales_Multimedios.pdf')">
		<md-icon>file_download</md-icon>
		Lista completa
	</md-button>
</div>

<div class="md-padding mk-strip" layout="row" style="color: #fff; padding: 0; cursor: pointer;">
	<div layout="row" flex="100" layout-align="center start" style="background-color: #f6545e;  padding: 2rem 1rem;" ng-click="go('/apps')">
		<div layout-align="center center" style="margin-right: 1rem; padding-top: 1.5rem;">
			<md-icon>arrow_back</md-icon>
		</div>
		<div layout="column" layout-align="center start">
			<div class="md-subhead">Anterior</div>
			<div class="md-title">Plataformas: Apps</div>
		</div>
		<div flex></div>
	</div>
</div>
